<%= render "layouts/first_tab" %>
<%= simple_form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3 style="text-align: center;"><%= t'general_info' %></h3><br/>
  <fieldset class="column-left">
    <p class="field">
      <%=  f.input :name, input_html: {:class => "text-input medium-input"}%>
    </p>
    <p class="field">
      <%=  f.input :last_name, input_html: {:class => "text-input medium-input"}%>
    </p>

    <p class="field">
      <%= f.input :last_name2, input_html:{class: "text-input medium-input"} %>
      </p>

      <p class="field">
        <%= f.association :organization, input_html: {:class=>"text-input medium-input"} %>
      </p>
      <p class="field">
        <%= f.collection_radio_buttons :member, [[true, 'Miembro'] ,[false, 'Asociado']], :first, :last, input_html: {class: "required"} %>
        </p>
        <p class="field">
          <%= f.input :sex, collection: ["Hombre", "Mujer"], input_html: {class: "text-input medium-input"} %>
          </p>
          <p class="field">
            <%= f.input :alias, input_html: {:class=>"text-input medium-input"} %>
          </p>


          <p class="field">
            <%= f.label :rank %>
            <%= f.text_field :rank, :class=>"text-input medium-input" %>
          </p>
          <p>
            <%= f.input :peculiarities, :as => :boolean %>
          </p>
          <p>
            <%= f.input :file_reports, input_html: {:class=>"text-input medium-input"} %>
          </p>
          
          <p class="field">
            <%= f.label :record %>
            <%= f.text_area :record, :class=>"text-input medium-input" %>
          </p>
        </fieldset>
        <fieldset class="column-right">

          <p>
            <%= f.label :birthday %>
            <%= f.text_field :birthday, :id => "fecha" , :class => "text-input medium-input", readonly: true %>
          </p>
          <p>
            <%= f.input :drivers_licence, input_html: {class: "text-input medium-input"} %>
          </p>
          <p>
            <%= f.input :state, input_html: {:class => "text-input medium-input"} %>
          </p>
          
          <p>
            <%= f.input :ocupation, input_html: {:class => "text-input medium-input"} %>
          </p>
          <p>
            <%= f.input :contacted_by, input_html: {:class => "text-input medium-input"} %>
          </p>
          
          <p>
            <%= f.input :heigh, :as => :decimal, input_html: {:class=> "text-input medium-input", :span =>" CM"} %>
          </p>
          <p class="field">
            <%= f.label :complexion %>
            <%= f.text_field :complexion, :class=>"text-input medium-input" %>
          </p>
          <p class="field">
            <%= f.label :weight %>
            <%= f.text_field :weight, :class=>"text-input medium-input" %>
          </p>
          <p class="field">
            <%= f.label :recidence %>
            <%= f.text_field :recidence, :class=>"text-input medium-input" %>
          </p>
          <p class="field">
            <%= f.input :phone, :as => :tel, input_html:{ :class=>"text-input medium-input"} %>
          </p>
          <p class="field">
            <%= f.label :addictions %>
            <%= f.text_area :addictions, :class=>"text-input medium-input" %>
          </p>

        </fieldset>
  
  <p>
    <%= f.input :observations, :as => :text, input_html:{ :class=>"text-input large-input", :size => "10x10"}  %>
  </p>
        <div class="clear"></div>
        <p><span class="required big">*</span>&nbsp;&nbsp;&nbsp;<%= t(:required) %></p>
        <div class="form-actions">
          <%= f.submit nil, :class => 'button' %>
        </div>

      <% end %>


<script type="text/javascript">
  $(function() {
    $('#fecha').datepicker({dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true,
      yearRange: '-100:+0'});
  });


</script>