<%= render "layouts/first_tab" %>
<%= simple_form_for(@vehicle) do |f| %>
<% if @vehicle.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

  <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<h3 style="text-align: center;"><%= t'general_info' %></h3><br/>
  <p class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :vehicle_year %>
    <%= f.number_field :vehicle_year, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :plate %>
    <%= f.text_field :plate, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :model %>
    <%= f.text_field :model, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%= f.label :color %>
    <%= f.text_field :color, :class=>"text-input small-input" %>
  </p>
  <p class="field">
    <%#= f.label :driver %>
    <%= f.input :driver, :as => :boolean %>
  </p>

 
  
<div class="form-actions">
  <%= f.submit nil, :class => 'button' %>
</div>

<% end %>
