<%= render "layouts/first_tab" %>
<%= simple_nested_form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3 style="text-align: center;"><%= t'general_info' %></h3><br/>
    <p class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class=>"text-input medium-input" %>
    </p>
    <p class="field">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </p>
    <p class="field">
      <%= f.select :operational_area, [ "Pandilla de la calle", "Pandilla de Prisión", "Pandilla de Motociclistas","Otros"] %>
    </p>
    <p class="field">
      <%= f.label :meeting_place %>
      <%= f.text_field :meeting_place, :class=>"text-input medium-input" %>
    </p>
    <p>
      <%= f.input :meeting_place_description, :as => :text, input_html: {:class => "text-input medium-input", :size => "300x10"}   %>
    </p>


    <p class="field">
  <%#= f.label :modus_operandi %>
      <%= f.input :modus_operandi, input_html:{:class=>"text-input medium-input", :size => "30x10" } %>
    </p>

    <%= f.link_to_add 'Agregar persona'.html_safe, :person, :class => "button" %>
    <p>
      <%=f.fields_for :person do |builder| %>
        <%= render 'people_fields', :f => builder %>
      <%end%>
    </p>
  <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
  </div>
<% end %>
