<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    <title><%= "SUIP " + eval("t(:" + controller_name + ")") %></title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


    <!--                       CSS                       -->

    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="/assets/reset.css" type="text/css" media="screen" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen" />

    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="/assets/invalid.css" type="text/css" media="screen" />	
    <link rel="stylesheet" href="/assets/red.css" type="text/css" media="screen" />  
    <!-- Colour Schemes

    Default colour scheme is green. Uncomment prefered stylesheet to use it.
    
    <link rel="stylesheet" href="resources/css/blue.css" type="text/css" media="screen" />
    
    

    -->
    <!-- Internet Explorer Fixes Stylesheet -->

    <!--[if lte IE 7]>
            <link rel="stylesheet" href="resources/css/ie.css" type="text/css" media="screen" />
    <![endif]-->
    
    <!-- Internet Explorer .png-fix -->

    <!--[if IE 6]>
            <script type="text/javascript" src="assets/scripts/DD_belatedPNG_0.0.7a.js"></script>
            <script type="text/javascript">
                    DD_belatedPNG.fix('.png_bg, img, li');
            </script>
    <![endif]-->

  </head>

  <body id="login">

    <div id="login-wrapper" class="png_bg">
      <div id="login-top">
        <!--<h1>Simpla Admin</h1>-->
        <!-- Logo (221px width) -->
        <img id="logo" src="/assets/logo_suip.png" alt="S.U.I.P." style="width: 600px" />
      </div> <!-- End #logn-top -->

      <div id="login-content">
        <% if flash[:alert] %>
          <div class="notification information png_bg" style="width: 100%;">
            <a href="#" class="close"><img src="/assets/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
            <div>
              <%=  flash[:alert] %>
            </div>
          </div>
        <% end %>
        <%= yield %>
      </div> <!-- End #login-content -->

    </div> <!-- End #login-wrapper -->
    <%# if controller_name == "sessions" && action_name == "new" %>
      <%#= render "devise/shared/links" %>
    <%# end %>
  </body>

</html>
